<div class="breadcrumb">
    <a class="breadcrumb__step" ng-repeat="breadcrumb in breadcrumbs" ng-click="action(breadcrumb)" ng-class="{'breadcrumb__step--active':$last}">{{breadcrumb.label}}</a>
</div>