<div layout="row">
  <div class="md-headline" layout-margin layout-padding>Total {{ctrl.servers.length}} server in the list</div>
  <div flex></div>
  <div ng-cloak>
    <md-fab-speed-dial class="md-scale" md-direction="left">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button ng-click="ctrl._refresh_list()" aria-label="refresh" class="md-fab md-mini md-primary">
          <md-icon class="material-icons">cached</md-icon>
        </md-button>
        <md-button aria-label="add" class="md-fab md-mini md-primary">
          <md-icon class="material-icons">add</md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>
<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
  <md-card ng-repeat="server in ctrl.servers">
    <md-card-header>
      <md-header-text>
        <div class="md-title">{{server.server_name | trimLength : 30}}</div>
      </md-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text class="md-subhead">
        Type: {{server.server_type}}
      </md-card-title-text>
    </md-card-title>
    <md-card-content class="md-subhead">
      DataCenter: {{server.data_center}}
    </md-card-content>
    <md-card-footer>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Edit" ng-click="ctrl.fetch(server,$event)">
          <i class="material-icons">mode_edit</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Delete" ng-click="ctrl.remove(server,$event)">
          <i class="material-icons">close</i>
        </md-button>
      </md-card-actions>
    </md-card-footer>
  </md-card>
</md-content>