md-card {
  min-height:10em;
  min-width:20em;    
}
md-card md-card-footer {
  padding: 0px;
}
md-card-header {
  background-color: #64b5f6
}
md-toast {
  position: fixed !important;
}
.space-1 {
  margin-left: 1em;
}
.fix-position {
  position:fixed;
  z-index:1;
  right: 1.5em;
  bottom: 2em;
}
.fix-position-top {
  position:fixed;
  z-index:1;
  right: 1.5em;
  top: 6em;
}
