<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div class="md-headline">Server</div>
                <!--<span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <md-toolbar class="md-warn" ng-show="error!==undefined">
            {{error.status}} {{error.data}}
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding layout-margin>
                <md-input-container>
                    <input type="text" placeholder="server_name" ng-model="data.server_name">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="server_type" ng-model="data.server_type">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="data_center" ng-model="data.data_center">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save(data)">
                Save
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>