<md-dialog aria-label="throbber" style="background-color:transparent;box-shadow:none">
    <div layout="row" layout-sm="column" layout-align="center center" aria-label="wait" style="height:70px;">
        <md-progress-circular md-diameter="40px"></md-progress-circular>
    </div>
</md-dialog>