<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
  <md-card ng-repeat="database in dbctrl.databases">
    <md-card-header>
      <md-header-text>
        <i class="fa fa-database fa-lg" aria-hidden="true"></i>
        <span class="space-1"></span>
        <span class="md-title">{{database.database_name | trimLength:22 }}</span>
      </md-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text class="md-subhead">
        <!--Type: {{server.server_type}}-->
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div ng-repeat="server in database.servers" class="md-subhead">
        Server: {{server.server_name}}
      </div>
    </md-card-content>
    <md-card-footer>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Edit" ng-click="dbctrl.fetch(database)">
          <i class="material-icons">mode_edit</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="get_tables" ng-click="dbctrl.setCurrent(database)">
          <i class="material-icons">arrow_downward</i>
        </md-button>
      </md-card-actions>
    </md-card-footer>
  </md-card>
</md-content>