<div layout="column" layout-padding layout-margin>
  <md-divider></md-divider>
  <div class="md-title">Alerts:</div>
  <pre ng-repeat="alert in currenttable.alerts">{{alert|json}}</pre>
  <md-divider></md-divider>
  <div class="md-title">Dependencies:</div>
  <div ng-repeat="(key, values) in currenttable.deps">
    <div class="md-title">{{key}}:</div>
    <pre ng-repeat="value in values">{{value|json}}<pre>
  </div>
</div>
