<!--<div layout="column" layout-padding layout-margin>-->
<!--<div class=md-title>Database: {{currentdb}}</div>
  <md-divider></md-divider>-->
<!--<div class=md-title>Table list: </div>
</div>-->
<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
  <md-card ng-repeat="table in tblctrl.tables">
    <md-card-header>
      <md-header-text>
        <i class="fa fa-table fa-lg" aria-hidden="true"></i>
        <span class="space-1"></span>
        <span class="md-title">{{table.table_name | trimLength:22}}</span>
      </md-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text class="md-subhead">
        <!--Type: {{server.server_type}}-->
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" class="md-subhead" ng-repeat="server in table.servers">
      <div>Server: {{server.server_name}}</div>
      <div> Unity_Managed: {{server.unity_managed}}</div>
    </md-card-content>
    <md-card-footer>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Edit" ng-click="tblctrl.fetch(table)">
          <i class="material-icons">mode_edit</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Delete" ng-click="ctrl.remove(server,$event)">
          <i class="material-icons">close</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="get_table_alertsanddeps" ng-click="tblctrl.setCurrent(table)">
          <i class="material-icons">arrow_downward</i>
        </md-button>
        <!--<md-button class="md-raised md-cornered" ng-click="ctrl.fetch(server,$event)">Edit</md-button>
        <md-button class="md-raised md-cornered" ng-click="ctrl.remove(server,$event)">Remove</md-button>-->
      </md-card-actions>
    </md-card-footer>
  </md-card>
</md-content>