<header>
    <md-toolbar md-scroll-shrink="true" class="md-toolbar-tools-bottom" layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="app.openSidenav()">
                <i class="material-icons">menu</i>
            </md-button>
            <div class="md-headline" flex="none" md-truncate>TD EM RESTful API Manual testing portal</div>
            <div flex></div>
            <div>URL: {{app.baseurl}}</div>
            <div flex></div>
            <div class="md-headline" flex="none">{{app.menu.label}}</div>
        </div>
    </md-toolbar>
</header>
<!-- <md-input-container>
    <label>EM REST URL</label>
    <md-select ng-model="app.emresturl">
        <md-option ng-repeat="url in app.urls" ng-value="url">
            {{url}}
        </md-option>
    </md-select>
</md-input-container> -->
<aside>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar layout="row" layout-align="center center" layout-padding>
            <h1 class="md-toolbar-tools">Get List</h1>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Close" ng-click="app.closeSidenav()">
                <i class="material-icons">close</i>
            </md-button>
        </md-toolbar>
        <nav>
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="menu in app.menus" class="md-1-line" ng-click="app.switch(menu)">
                        <i class="material-icons">{{menu.icon}}</i>
                        <div flex='5'></div>
                        <div>{{menu.label}}</div>
                    </md-list-item>
                </md-list>
            </md-content>
        </nav>
    </md-sidenav>
</aside>
<main>
    <md-content layout-margin>
        <article>
            <dbandtbl ng-show="app.databases"></dbandtbl>
        </article>
        <article>
            <server-list ng-show="app.servers"></server-list>
        </article>
        <article>
            <workflow-list ng-show="app.workflows"></workflow-list>
        </article>
    </md-content>
</main>