<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div class="md-headline">Object Seeding Workflow</div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding layout-margin>
                <md-input-container>
                    <input type="text" placeholder="SOURCE_TD_PID" ng-model="objswfdata.source_td_pid">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="TARGET_TD_PID" ng-model="objswfdata.target_td_pid">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="DataMover_HOST" ng-model="objswfdata.dm_host">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="$ctrl.save_objswf(objswfdata)">
                Save
            </md-button>
            <md-button ng-click="$ctrl.mdDialog.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>