<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="md-headline">Restart {{$ctrl.workflow.workflow_name}}</div>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-padding layout-margin>
            <md-input-container>
                <input type="text" placeholder="FAILED_NODE_NAME" ng-model="restart.failNode">
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.restart(restart)">
            Restart
        </md-button>
        <md-button ng-click="$ctrl.mdDialog.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>