<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="md-headline">Schedule {{$ctrl.workflow.workflow_name}}</div>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-padding layout-margin>
            <md-input-container>
                <input type="text" placeholder="SCHEDULE_CRON" ng-model="schedule.scheduleCron">
            </md-input-container>
            <md-input-container>
                <input type="text" placeholder="SCHEDULE_TIME_ZONE" ng-model="schedule.scheduleTimeZone">
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.schedule(schedule)">
            Schedule
        </md-button>
        <md-button ng-click="$ctrl.mdDialog.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>