<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div class="md-headline">System Seeding Workflow</div>
                <!--<span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <!--<md-toolbar class="md-warn" ng-show="error!==undefined">
            {{error.status}} {{error.data}}
        </md-toolbar>-->
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-margin>
                <md-input-container>
                    <input type="text" placeholder="SOURCE_TD_PID" ng-model="sswfdata.source_td_pid">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="TARGET_TD_PID" ng-model="sswfdata.target_td_pid">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="TARGET_OS_PWD" ng-model="sswfdata.target_os_user_password">
                </md-input-container>
                <md-input-container>
                    <p>Authentication Type</p>
                    <md-radio-group ng-model="sswfdata.authType" layout="row">
                        <md-radio-button value="PASSWORD">PASSWORD</md-radio-button>
                        <md-radio-button value="KEYPAIR">KEYPAIR</md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <md-input-container>
                    <p>Seeding Type</p>
                    <md-radio-group ng-model="sswfdata.seedingType" layout="row">
                        <md-radio-button value="F">FULL SYSTEM COPY</md-radio-button>
                        <md-radio-button value="D">DICTIONARY COPY</md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <md-input-container>
                    <p>Encryption Flag</p>
                    <md-radio-group ng-model="sswfdata.encryptFlag" layout="row">
                        <md-radio-button value="true">YES</md-radio-button>
                        <md-radio-button value="false">NO</md-radio-button>
                    </md-radio-group>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="$ctrl.save_sswf(sswfdata)">
                Save
            </md-button>
            <md-button ng-click="$ctrl.mdDialog.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>