<md-dialog aria-label="workflow-detail">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="md-headline">{{$ctrl.workflow.workflow_name}}</div>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-padding>
            <div ng-repeat="node in $ctrl.workflow.nodes">
                <div>node_name: {{node.node_name}}</div>
                <div>type: {{node.type}}</div>
                <div>duration: {{node.duration}}</div>
            </div>
            <div>Template Name: {{$ctrl.workflow.template_name}}</div>
            <div>Modified TS: {{$ctrl.workflow.modified_ts}}</div>
            <div>Status: {{$ctrl.workflow.status}}</div>
            <div>Execution Status: {{$ctrl.workflow.execution_status}}</div>
            <div>Created By: {{$ctrl.workflow.created_by}}</div>
            <div>Deployed By: {{$ctrl.workflow.deployed_by}}</div>
            <div>Deployed TS: {{$ctrl.workflow.deployed_ts}}</div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.mdDialog.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
