<md-content layout="row">
  <div class="md-headline" layout-margin layout-padding>Total {{$ctrl.workflows.length}} workflow in the list</div>
  <div flex></div>
  <!-- <div ng-cloak>
    <md-fab-speed-dial class="md-scale" md-direction="left">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.$onInit()">
          <md-icon class="material-icons">cached</md-icon>
        </md-button>
        <md-menu>
          <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.openMenu($mdMenu, $event)">
            <md-icon class="material-icons">add</md-icon>
          </md-button>
          <md-menu-content width="4" style="max-height:10em;">
            <md-menu-item>
              <md-button ng-click="$ctrl.add()">
                System Seeding
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.add_objswf()">
                Object Seeding
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div> -->
</md-content>
<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
  <md-card ng-repeat="workflow in $ctrl.workflows">
    <md-card-header>
      <md-header-text>
        <div class="md-title">{{workflow.workflow_name | trimLength:30 }}</div>
      </md-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text class="md-subhead">
        <!--Type: {{server.server_type}}-->
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" class="md-subhead">
      <div class="md-subhead">Status: {{workflow.status}}</div>
      <div class="md-subhead">Execute: {{workflow.execution_status}}</div>
    </md-card-content>
    <md-card-footer>
      <md-card-actions layout="row" layout-align="end center">
        <!--<md-progress-circular ng-disabled="$ctrl.isThrobble" class="md-hue-2" md-diameter="20px"></md-progress-circular>-->
        <md-button class="md-icon-button" aria-label="Edit" ng-click="$ctrl.fetch(workflow)">
          <i class="material-icons">mode_edit</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.remove(workflow,$event)">
          <i class="material-icons">close</i>
        </md-button>
        <md-menu>
          <md-button class="md-icon-button" aria-label="More" ng-click="$ctrl.openMenu($mdMenu, $event)">
            <i class="material-icons">more_vert</i>
          </md-button>
          <md-menu-content width="4" style="max-height:25em;">
            <md-menu-item>
              <md-button ng-click="$ctrl.start(workflow,$event)">
                Start
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.show_restart(workflow,$event)">
                Restart
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.rollback(workflow,$event)">
                Rollback
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.pause(workflow,$event)">
                Pause
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.resume(workflow,$event)">
                Resume
              </md-button>
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item>
              <md-button ng-click="$ctrl.deploy(workflow,$event,$index)">
                Deploy
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.undeploy(workflow)">
                Undeploy
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.show_schedule(workflow,$event)">
                Schedule
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-actions>
    </md-card-footer>
  </md-card>
</md-content>
<md-button class="md-fab fix-position md-primary" aria-label="refresh" ng-click="$ctrl.$onInit()">
  <md-icon class="material-icons">cached</md-icon>
</md-button>
<md-menu>
  <md-button class="md-fab md-primary fix-position-top" ng-click="$ctrl.openMenu($mdMenu, $event)">
    <md-icon class="material-icons">add</md-icon>
  </md-button>
  <md-menu-content width="4" style="max-height:10em;">
    <md-menu-item>
      <md-button ng-click="$ctrl.add()">
        System Seeding
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="$ctrl.add_objswf()">
        Object Seeding
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>