<!--<md-button layout-padding aria-label="Back" ng-disabled="currentDatabase.database_name === undefined" ng-click="reset()">
    <i class="material-icons" style="font-size:25;">arrow_upward</i>Database List
</md-button>-->
<div layout="row" layout-align="center center" style="position:relative;height:4.25em">
    <bread-crumbs data-breadcrumbs="breadcrumbs"></bread-crumbs>
    <div flex></div>
    <div ng-cloak>
        <md-fab-speed-dial class="md-scale" md-direction="left">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button ng-click="refresh()" aria-label="refresh" class="md-fab md-mini md-primary">
                    <md-icon class="material-icons">cached</md-icon>
                </md-button>
                <md-button aria-label="add" class="md-fab md-mini md-primary">
                    <md-icon class="material-icons">add</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</div>
<div ng-if="currentDatabase.database_name === undefined">
    <database-list></database-list>
</div>
<div ng-if="currentDatabase.database_name !== undefined && currentTable.table_name === undefined">
    <table-list data-currentdb="currentDatabase"></table-list>
</div>
<div ng-if="currentDatabase.database_name !== undefined &&currentTable.table_name !== undefined">
    <table-alerts-deps data-currentdb="currentDatabase" data-currenttable="currentTable"></table-alerts-deps>
</div>